@import url(href="https://fonts.googleapis.com/css2?family=Faster+One&family=Lobster&family=Oswald:wght@300&family=Quattrocento+Sans:wght@700&family=Roboto:wght@100&display=swap" rel="stylesheet");

/* general setting */
*{
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style-type: none;
}
body {
    font-family: quattrocento+sans, sans-serif;
    font-weight: 300;
    color: #e0e0e2;
}

/* headings and logo */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e4ddfa;
}
#logo {
    font-family: quattrocento+sans, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #006400;
    float: left;
    font-size: 80%;
    font-weight: bold;
    padding: 5px 0px 5px 90px;
}

/* navigation links */
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: bold;
    color: #006400;
}

#menu li {
float: right;
margin-right: 30px;
margin-top: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/*  hero image and cover text*/
#hero-outer{
    height: 700px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-text1 > h2, .cover-text2 > h2, .cover-text3 > h2{
color: #fff;
font-family: lobster, sans-serif;
font-size: 23px;
text-align: center;
font-weight: normal;
}

.cover-text1 > p, .cover-text2 > p, .cover-text3 > p{
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: none;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url('../images/dublin-image.jpg') no-repeat;
   
}

.cover-text1 {
    background-color: #a52a2a;
}

.cover-text2 {
    background-color: #ffa500;
}

.cover-text3 { 
    background-color: #006400;

}

.cover-text1, .cover-text2, .cover-text3{
    font-size: 30%;
    font-family:  nunito, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    width: 360px;
    height: 215px;
    bottom: 265px;
    margin-top: 25px;
    position: relative;
}
.cover-text {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    flex: 1;
    flex-direction: #;
}
.cover-text1::after, .cover-text2::after, .cover-text3::after
{
    position: absolute;
    width: 30px;
    height: 30px;;
    top:100%;
    left: 50%;
    margin-left: -25px;
    content: "";
    transform: rotate(45deg);
    margin-top: -25px;
}

.cover-text1::after {
    border-top: 0px solid #a52a2a;
    border-right: 2px solid #a52a2a;
    border-bottom: 2px solid #a52a2a;
    border-left: opx solid #a52a2a;
    background: #a52a2a;

}

.cover-text2::after {
    border-top: 0px solid #ffa500;
    border-right: 2px solid #ffa500;
    border-bottom: 2px solid #ffa500;
    border-left: opx solid #ffa500;
    background: #ffa500;
}

.cover-text3::after {
    border-top: 0px solid #006400;
    border-right: 2px solid #006400;
    border-bottom: 2px solid #006400;
    border-left: opx solid #006400;
    background: #006400;  
}

@media (max-width: 750px) {
    .cover-text {
        flex-direction: #;
    }
}

/* about section */
#about {
  height: 700px;
  width: 100%;

}
#about, h2 {
    font-family: lobster, sans-serif;
    color: #a52a2a;
    font-size: 35px;
}
#about, h5 {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 0.1rem;
    margin: 1rem 0 0.3rem;
}
#about-heading{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 30px 0 0 15px;
}

hr {
    border-top: 3px solid #eee;
    width: 100%;
    margin: 30px 0;
}

#about, p {
    color: #00093c;
    font-family:  nunito, sans-serif;
    margin: 10px;
    font-size: 13px;
    margin: 0 0 1em;
}

/* Footer */

footer {
    height: 115px;
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
   position: fixed;
    bottom: 0%;

}

#social-links {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 5px;
}
#social-links, li {
    flex-shrink: 1;
}

#bottom-menu {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#bottom-menu, li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#copyright {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: #fff;
}

/* derictory html */

.directory-section {
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
}

.restaurant1{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    padding: 30px;
    margin-top: 8%;
}
.restaurant1 .card{
    width: 100%;
    height: 300px;
    position: relative;
    padding: 30px 10px;
    margin: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 1px 2px #ededede;
    transition: 0.3s ease-in-out;
    margin-top: 5%;
}
.restaurant1 .card .image-box{
    width: 200px;
    height: 200px;
    position: relative;
    top: -60px;
    left: 20px;
}

/* advertising page */
.advertise{
    color: #000;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #05073a, #dc0606ca);
    padding: 10px;
}
.container{
    max-width: 700px;
    width: 100%;
    padding: 25px 30px;
    border-radius: 25px;
    background: linear-gradient(135deg, #dc0606ca, #05073a); 
}
.container .heading {
    font-size: 25px;
    font-weight: 500;
    position: relative;
    text-align: center;
    padding: 0 0 20px 0;
}
.container .heading::before{
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(135deg, #71b7e6, #9b5b);
}
.container form .card-details{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
form .card-details .card-box{
    width: calc(100% / 2 - 20px);
    margin-bottom: 15px;
}
.card-details .card-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.card-details .card-box input {
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}
.card-details .card-box input:focus
.card-details .card-box input:valid{
    border-color: #9b59b6;
}
form .button{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;

}
form .button input{
    padding: 10px 0;
    margin-top: 10px;
    height: 100%;
    width: 50%;
    outline: none;
    color: #000;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: linear-gradient(135deg #05073a #dc0606ca);
}
form .button input:hover{
    background: linear-gradient(135deg, #05073a, #dc0606ca);
}

