@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Nunito:wght@200&family=Roboto:wght@300&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

#logo {
    font-family: nunito, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;
    color: #252525;
    float: left;
    font-size: 230%;
    font-weight: bold;
    padding: 5px;
}

/* Navigation Links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    font-weight: bold;
}

#menu li {
float: right;
list-style-type: none;
margin-right: 30px;
margin-top: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/*  Hero Image and Cover Text*/

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-text1 > h2, .cover-text2 > h2, .cover-text3 > h2{
color: #fff;
font-family: lobster, sans-serif;
font-size: 23px;
text-align: center;
font-weight: normal;
}

.cover-text1 > p, .cover-text2 > p, .cover-text3 > p{
    color: #fff;
    font-size: 13px;
    text-align: center;
    text-transform: none;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/dublin-image.jpg') no-repeat center center;
   
}

.cover-text1 {
    background-color: #a52a2a;
}

.cover-text2 {
    background-color: #ffa500;
}

.cover-text3 { 
    background-color: #006400;

}

.cover-text1, .cover-text2, .cover-text3{
    font-size: 30%;
    font-family:  nunito, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 360px;
    height: 215px;
    margin: 25px;
    float: left;
   
    padding-top: 50px;
    padding-left: 10px;

    bottom: 265px;
    left: 20px;

    position: relative;
}

.cover-text1::after, .cover-text2::after, .cover-text3::after
{
    position: absolute;
    width: 30px;
    height: 30px;;
    top:100%;
    left: 50%;
    margin-left: -25px;
    content: "";
    transform: rotate(45deg);
    margin-top: -25px;
}

.cover-text1::after {
    border-top: 0px solid #a52a2a;
    border-right: 2px solid #a52a2a;
    border-bottom: 2px solid #a52a2a;
    border-left: opx solid #a52a2a;
    background: #a52a2a;

}

.cover-text2::after {
    border-top: 0px solid #ffa500;
    border-right: 2px solid #ffa500;
    border-bottom: 2px solid #ffa500;
    border-left: opx solid #ffa500;
    background: #ffa500;
}

.cover-text3::after {
    border-top: 0px solid #006400;
    border-right: 2px solid #006400;
    border-bottom: 2px solid #006400;
    border-left: opx solid #006400;
    background: #006400;  
}
/* About section */

#about {
  height: 700px;

}

#about, h2 {
    font-family: lobster, sans-serif;
    color: #a52a2a;
}
#about-heading{
    text-align: center;
    width: 50%;
    margin: 0 auto;
    padding: 30px 0 0 15px;
}

hr {
    border-top: 3px solid #eee;
    width: 100%;
    margin: 30px 0;
}

#about, p {
    color: #00093c;
    font-family:  nunito, sans-serif;
    margin: 10px;
}

/* Footer */

footer {
    height: 150px;
    width: 100%;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;
}

.social-networks {
    text-align:center;
    padding-bottom: 25px;   
}

.social-networks >li {
    display: inline;
}

.social-networks i {
    font-size: 26px;
    width: 40px;
    height: 40px;
    color: #ccc;
    border: 1px solid 000;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;  
}

#bottom-menu {
    text-align: center;
    font-size: 15px;
    color:#fff;
    width: 50%;
    margin: 0 auto;
}

#copyright {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
    color: #fff;
}



