@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
body{
    font-family: roboto, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

/* Headings and Logo */

h1, h2 {
font-family: nunito, sans-serif;
text-transform: capitalize;
letter-spacing: 4px;
color: #252525;
}

#logo {
    float: left;
    font-size: 280%;
}

/* navigation links */

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
float: right;
list-style-type: none;
margin-right: 30px;
margin-top: 30px;
}

/*  Hero image and cover text*/

#hero-outer{
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.cover-text1, h2{
color: #fff;
font-size: 23px;
text-align: center;
}

.cover-text1, p{
    color: #fff;
    font-size: 13px;
    text-align: center;
}

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/dublin-image.jpg') no-repeat center center;
}

.cover-text1{
    font-size: 30%;
    font-family:  nunito, sans-serif;
    text-transform: capitalize;
    letter-spacing: 4px;

    width: 350px;
    height: 200px;

    padding-top: 50px;
    padding-left: 10px;

    background-color: #FFD700;
    bottom: 260px;
    left: 300px;

    position: relative;
}

.cover-text1::after
{
    position: absolute;
    width: 30px;
    height: 30px;;
    border-top: 0px solid #FFD700;
    border-right: 2px solid #FFD700;
    border-bottom: 2px solid #FFD700;
    border-left: opx solid #FFD700;
    top:100%;
    left: 50%;
    margin-left: -25px;
    content: "";
    transform: rotate(45deg);
    margin-top: -25px;
    background: #FFD700;
}

/* About section */

.about {
    position: relative;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
    text-align: center;
}

/* Footer */

footer {
    height: 400px;
    background: linear-gradient(to right, #00093c, #2d0b00);
    color: #fff;


}

.social-networks {
    text-align:center;
    padding-bottom: 25px;   
}

.social-networks >li {
    display: inline;
}

.social-networks i {
    font-size: 26px;
    width: 40px;
    height: 40px;
    color: #ccc;
    border: 1px solid 000;
    line-height: 38px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 8px;  
}

footer .menu {
    margin-top: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    margin-bottom: 0;
    line-height: 1.6;
    padding: 0 15px;
    display: inline-block;
}

#copyright {
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}



